.Rproj.user
.Rhistory
.RData
.Ruserdata

/literature
/R/plots/
/**/archive/
/manuscript/archive/
/reviews
archive/

*.tiff
output/slope_int_estimates_formatted.csv
output/diffs_in_slope_int_formatted.csv
output/predicted_values_formatted.csv


Ranney_quantile_regressions_for_WAE.doc
revision_2_cover_letter.docx
Ranney_waeQuantiles_revision_2_cover_letter.pdf
/revision_1/
/initial_submission/
