.Rproj.user
.Rhistory
.RData
.Ruserdata

/literature
/R/plots/
/**/archive/
/manuscript/archive/
/reviews

*.tiff
output/slope_int_estimates_formatted.csv
output/diffs_in_slope_int_formatted.csv
output/predicted_values_formatted.csv
